* {
  box-sizing: border-box;
}

html, body {
  background: lightgray;
  font-family: "Noto", sans-serif;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  white-space: nowrap;
  height: 100%;
}

.todoList {
  display: inline-block;
  max-width: 450px;
  margin-left: 30px;
  background: #fff;
  padding: 30px;
  height: 80%;
  white-space: nowrap;
  vertical-align: bottom;
  overflow: auto;
}

.inputTitle {
  width: 25%;
  height: 20%;
  margin: 0 auto 0 auto;
}

.todoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  color: steelblue;
  font-weight: 600;
}

input {
  width: 75%;
  margin-right: 25px;
  padding: 15px 0 15px 15px;
  border-radius: 4px;
  border: 1px solid lightsteelblue;
}

button {
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  color: #fff;
}

.submit {
  background:lightsteelblue;  
  padding: 10px 25px;
}

.delete {
  background: lightsalmon;
  padding: 4px 8px 4px 8px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 20px 15px 20px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
